/* mobile screen view */
@media (max-width: 767px) { 
  #landing .people {
    display: grid;
    margin: -20px auto 21px;
  }

  #landing h1 {
    font-size: 1.7em;
    margin: 12px auto;
  }

}

/* tablet screen view */
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }

  .container {
    width: 750px;
  }

  .mobile-only {
    display: none !important;
  }

  .non-mobile-only {
    display: initial !important;
  }

  header .scroll {
    position: static;
    width: auto;
    background: none;
    border: none;
  }

  header .header-right a {
    display: inline-block;
  }

  .base {
    width: 360px;
  }

  #landing h1 {
    font-size: 2em;
    margin: 12px auto;
  }

  #landing .people {
    display: grid;
    margin: -34px 23% 36px 23%;
  }

  #landing p {
    margin: 20px auto;
  }

  #organizer img {
    display: inline-block;
    max-width: initial;
    margin: 0 50px;
  }

  footer .left {
    float: left;
  }

  footer .right {
    float: right;
  }
}


/* desktop screen view */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  #landing {
    min-height: 700px;
    padding-top: 180px;
  }

  #landing .intro {
    max-width: 450px;
    margin: 0 0 0 30px;
    text-align: left;
  }

  #landing .people {
    display: inline-block;
    margin: -50px auto;
  }
}


/* large desktop screen view */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  #landing .intro {
    margin: 0 0 0 50px;
  }

  #landing .people {
    margin-right: 80px;
  }
}
